schemas/book.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1"
  xmlns:b="https://github.com/cacology/bibliographicalXML"
  targetNamespace="https://github.com/cacology/bibliographicalXML" elementFormDefault="qualified">

  <xs:override schemaLocation="../bibliographicalXML/schemas/collation.1.0.xsd">
    <xs:element name="note" type="b:qft" xmlns:b="https://github.com/cacology/bibliographicalXML"/>
  </xs:override>


  <xs:element name="entry">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:todo" minOccurs="0"/>
        <xs:element ref="b:comment" minOccurs="0"/>
        <xs:element ref="b:fileDesc"/>
        <xs:element ref="b:bookDesc"/>
        <xs:element ref="b:text"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="fileDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:title"/>
        <xs:element ref="b:respStmt"/>
        <xs:element ref="b:header"/>
        <xs:element ref="b:footer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="bookDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:bookKeys"/>
        <xs:element ref="b:respStmt"/>
        <xs:element ref="b:periodicalReferences" minOccurs="0"/>
        <xs:element ref="b:prices" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="b:listBibl" minOccurs="0"/>
        <xs:element ref="b:holdings"/>
        <xs:element ref="b:notes" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="text">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:collation"/>
        <xs:element ref="b:sections"/>
        <xs:element ref="b:plates" minOccurs="0"/>
        <xs:element ref="b:catchwords" minOccurs="0"/>
        <xs:element ref="b:pressFigures" minOccurs="0"/>
        <xs:element ref="b:imprimatur" minOccurs="0"/>
        <xs:element ref="b:colophon" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="bookKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:idno"/>
        <xs:element ref="b:fn"/>
        <xs:element ref="b:shortTitle"/>
        <xs:element ref="b:shortImprint" minOccurs="0"/>
        <xs:element ref="b:statedEdition" minOccurs="0"/>
        <xs:element ref="b:description" minOccurs="0"/>
        <xs:element ref="b:pubYear"/>
        <xs:element ref="b:pubDate"/>
        <xs:element ref="b:evidence"/>
        <xs:element ref="b:edition"/>
        <xs:element ref="b:issue"/>
        <xs:element ref="b:categoryID"/>
        <xs:element ref="b:workID"/>
        <xs:element ref="b:subWorkID"/>
        <xs:element ref="b:copiesPrinted" minOccurs="0"/>
        <xs:element ref="b:textLang"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="periodicalReferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:periodicalReference" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="periodicalReference" type="b:periodicalItem"/>

  <xs:complexType name="periodicalItem">
    <xs:sequence>
      <xs:element ref="b:publication"/>
      <xs:element ref="b:pubDate"/>
      <xs:element ref="b:notes" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute ref="b:periodicalType" use="required"/>
  </xs:complexType>

  <xs:element name="prices">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:price" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="price">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:priceComponent" maxOccurs="unbounded"/>
        <xs:element ref="b:note" minOccurs="0"/>
        <xs:element ref="b:evidence" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="priceComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:amount"/>
        <xs:element ref="b:unit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="listBibl">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:bibl" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="bibl">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:reference"/>
        <xs:element ref="b:idno"/>
        <xs:element ref="b:notes" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="holdings">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:holding" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="holding">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:holder"/>
        <xs:element ref="b:shelfmark" minOccurs="0"/>
        <xs:element ref="b:surrogate" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="b:copies" minOccurs="0"/>
        <!-- Where isCollection="true" idno/sequence note shelfmark and position in collection -->
        <xs:element ref="b:idno" minOccurs="0"/>
        <xs:element ref="b:sequence" minOccurs="0"/>
        <xs:element ref="b:notes" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute ref="b:isSeen" use="required"/>
      <xs:attribute ref="b:isCollection" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="sections">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:section" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="section">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:titlePage" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="b:content" minOccurs="0"/>
        <xs:element ref="b:RT" minOccurs="0"/>
        <xs:element ref="b:gamesCovered" minOccurs="0"/>
        <xs:element ref="b:subject" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute ref="b:id"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="titlePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:titlePart" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute ref="b:titleType" use="required"/>
      <xs:attribute ref="b:sectionID"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="content">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:sigFrom"/>
        <xs:element ref="b:pageFrom" minOccurs="0"/>
        <xs:element ref="b:sigTo" minOccurs="0"/>
        <xs:element ref="b:pageTo" minOccurs="0"/>
        <xs:element ref="b:contentPart" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute ref="b:isOn" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:attribute name="isOn" type="xs:boolean" default="true"/>

  <xs:element name="RT">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:sigFrom"/>
        <xs:element ref="b:pageFrom" minOccurs="0"/>
        <xs:element ref="b:sigTo" minOccurs="0"/>
        <xs:element ref="b:pageTo" minOccurs="0"/>
        <xs:element ref="b:addedRange" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="b:RTPart" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute ref="b:isOn" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="addedRange">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation> This is used only for an anomolous running titles that extends to
          multiple ranges. The first range is noted as part of RT with isOn="true". Subsequent
          ranges noted here. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element ref="b:sigFrom"/>
        <xs:element ref="b:pageFrom" minOccurs="0"/>
        <xs:element ref="b:sigTo" minOccurs="0"/>
        <xs:element ref="b:pageTo" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="gamesCovered">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:game" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="respStmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:respItem" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="respItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:respGroup" minOccurs="0" maxOccurs="1"/>
        <xs:choice>
          <xs:element ref="b:persName"/>
          <xs:element ref="b:orgName"/>
        </xs:choice>
        <xs:element ref="b:evidence" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="b:share" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute ref="b:respType" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="header">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dateUpdate" type="xs:date"/>
        <xs:element name="dateProof" type="xs:date" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="footer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:home"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="persName">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:forename"/>
        <xs:element ref="b:surname"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="orgName" type="xs:string"/>

  <xs:element name="reference">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Depaulis"/>
        <xs:enumeration value="Donovan and Murdoch"/>
        <xs:enumeration value="ESTC"/>
        <xs:enumeration value="Fleeman"/>
        <xs:enumeration value="Horr"/>
        <xs:enumeration value="Jessel"/>
        <xs:enumeration value="Lensi"/>
        <xs:enumeration value="Marshall"/>
        <xs:enumeration value="Rather"/>
        <xs:enumeration value="Todhunter"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="subject">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:subject1"/>
        <xs:element ref="b:subject2" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="plates">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:plate" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="plate">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:plateRelation"/>
        <xs:group ref="b:sigRefGroup"/>
        <xs:group ref="b:pageRefGroup" minOccurs="0"/>
        <xs:element ref="b:plateType"/>
        <xs:element ref="b:notes" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute ref="b:plateLocation" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="plateRelation">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="after"/>
        <xs:enumeration value="before"/>
        <xs:enumeration value="on"/>
        <xs:enumeration value="opposite"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="plateType">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="copperplate"/>
        <xs:enumeration value="engraving"/>
        <xs:enumeration value="woodblock"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:attribute name="plateLocation">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Frontispiece"/>
        <xs:enumeration value="Title"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:element name="catchwords">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:catchword" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="catchword">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="b:sigRefGroup"/>
        <xs:group ref="b:pageRefGroup" minOccurs="0"/>
        <xs:element ref="b:cwFoot" maxOccurs="unbounded"/>
        <xs:element ref="b:cwHead" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="pressFigures">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:pressFigure" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="pressFigure">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="b:sigRefGroup"/>
        <xs:group ref="b:pageRefGroup"/>
        <xs:element ref="b:forme"/>
        <xs:element ref="b:mark"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="forme">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="i"/>
        <xs:enumeration value="o"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="mark">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="1"/>
        <xs:enumeration value="2"/>
        <xs:enumeration value="3"/>
        <xs:enumeration value="4"/>
        <xs:enumeration value="5"/>
        <xs:enumeration value="6"/>
        <xs:enumeration value="7"/>
        <xs:enumeration value="8"/>
        <xs:enumeration value="9"/>
        <xs:enumeration value="10"/>
        <xs:enumeration value="11"/>
        <xs:enumeration value="*"/>
        <xs:enumeration value="†"/>
        <xs:enumeration value="‡"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="imprimatur">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:notes"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="colophon">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="b:notes"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Title Statement -->
  <xs:element name="title" type="xs:string"/>
  <xs:element name="publicationStmt" type="xs:string"/>

  <xs:element name="sigFrom">
    <xs:complexType>
      <xs:group ref="b:sigRefGroup"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="sigTo">
    <xs:complexType>
      <xs:group ref="b:sigRefGroup"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="pageFrom">
    <xs:complexType>
      <xs:group ref="b:pageRefGroup"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="pageTo">
    <xs:complexType>
      <xs:group ref="b:pageRefGroup"/>
    </xs:complexType>
  </xs:element>



  <xs:element name="idno">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <!--attribute used for rare case in which a book was part of a collection, but now has a different shelfmark -->
          <!--idno will have the name of the collection eg Cogan.4 and shelfmark will be the original shelfmark -->
          <!-- See  Jessel f.580 -->
          <xs:attribute name="shelfmark" type="xs:string" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="shortTitle" type="xs:string"/>
  <xs:element name="shortImprint" type="xs:string"/>
  <xs:element name="statedEdition" type="xs:string"/>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="year" type="xs:gYear"/>
  <xs:element name="edition" type="xs:integer"/>
  <xs:element name="issue" type="xs:integer"/>
  <xs:element name="copiesPrinted" type="xs:integer"/>

  <!-- notes -->
  <xs:element name="evidence">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="advertisement"/>
        <xs:enumeration value="Cogan v Chapelle"/>
        <xs:enumeration value="colophon"/>
        <xs:enumeration value="copyright"/>
        <xs:enumeration value="cover"/>
        <xs:enumeration value="half title"/>
        <xs:enumeration value="imprimatur"/>
        <xs:enumeration value="included work"/>
        <xs:enumeration value="inferred"/>
        <xs:enumeration value="label"/>
        <xs:enumeration value="Longman Archives"/>
        <xs:enumeration value="notice"/>
        <xs:enumeration value="ornaments"/>
        <xs:enumeration value="review"/>
        <xs:enumeration value="slip case"/>
        <xs:enumeration value="Stationers' Register"/>
        <xs:enumeration value="title"/>
        <xs:enumeration value="wrapper"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <!-- index information -->
  <xs:element name="game">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="All Fours"/>
        <xs:enumeration value="Archery"/>
        <xs:enumeration value="Backgammon"/>
        <xs:enumeration value="Billiards"/>
        <xs:enumeration value="Boston"/>
        <xs:enumeration value="Brag"/>
        <xs:enumeration value="Cassino"/>
        <xs:enumeration value="Catch the Ten"/>
        <xs:enumeration value="Commerce"/>
        <xs:enumeration value="Connexions"/>
        <xs:enumeration value="Cribbage"/>
        <xs:enumeration value="Chess"/>
        <xs:enumeration value="Comet"/>
        <xs:enumeration value="Commit"/>
        <xs:enumeration value="Cricket"/>
        <xs:enumeration value="Dez Anglois"/>
        <xs:enumeration value="Dummy Whist"/>
        <xs:enumeration value="Domino"/>
        <xs:enumeration value="Draughts"/>
        <xs:enumeration value="Dutch Pins"/>
        <xs:enumeration value="E O"/>
        <xs:enumeration value="Earl of Coventry"/>
        <xs:enumeration value="Ecarté"/>
        <xs:enumeration value="Faro"/>
        <xs:enumeration value="Five and Ten"/>
        <xs:enumeration value="French Lottery"/>
        <xs:enumeration value="Game Cocks"/>
        <xs:enumeration value="Golf"/>
        <xs:enumeration value="Hazard"/>
        <xs:enumeration value="Horse Racing"/>
        <xs:enumeration value="Lansquenet"/>
        <xs:enumeration value="Lift Smoke"/>
        <xs:enumeration value="Loo"/>
        <xs:enumeration value="Loto"/>
        <xs:enumeration value="Lottery"/>
        <xs:enumeration value="Matrimony"/>
        <xs:enumeration value="Mediateur"/>
        <xs:enumeration value="Piquet"/>
        <xs:enumeration value="Polish Draughts"/>
        <xs:enumeration value="Pope Joan"/>
        <xs:enumeration value="Put"/>
        <xs:enumeration value="Quadrille"/>
        <xs:enumeration value="Quinze"/>
        <xs:enumeration value="Raffle"/>
        <xs:enumeration value="Rouge et Noir"/>
        <xs:enumeration value="Reversis"/>
        <xs:enumeration value="Roulette"/>
        <xs:enumeration value="Skittles"/>
        <xs:enumeration value="Snip Snap Snorem"/>
        <xs:enumeration value="Short Whist"/>
        <xs:enumeration value="Speculation"/>
        <xs:enumeration value="Tennis"/>
        <xs:enumeration value="Thirty One"/>
        <xs:enumeration value="Tressette"/>
        <xs:enumeration value="Vingt-Un"/>
        <xs:enumeration value="Whist"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="subject1" type="xs:string"/>
  <xs:element name="subject2" type="xs:string"/>

  <!-- names -->
  <xs:element name="forename" type="xs:string"/>
  <xs:element name="surname" type="xs:string"/>

  <!-- measurement -->
  <xs:element name="share" type="xs:integer"/>

  <xs:element name="amount">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="1"/>
        <xs:enumeration value="2"/>
        <xs:enumeration value="3"/>
        <xs:enumeration value="4"/>
        <xs:enumeration value="5"/>
        <xs:enumeration value="6"/>
        <xs:enumeration value="6.5"/>
        <xs:enumeration value="7"/>
        <xs:enumeration value="8"/>
        <xs:enumeration value="8.5"/>
        <xs:enumeration value="9"/>
        <xs:enumeration value="10"/>
        <xs:enumeration value="50"/>
        <xs:enumeration value="1.50"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="unit">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="gn."/>
        <xs:enumeration value="s."/>
        <xs:enumeration value="d."/>
        <xs:enumeration value="$"/>
        <xs:enumeration value="¢"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <!-- collation -->

  <!-- holdings -->
  <!-- holder can have numbers, letters, minus sign (escaped here with backslash) and forward slash -->
  <xs:element name="holder">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9a-zA-Z\-/*]{1,10}"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="shelfmark" type="xs:string"/>

  <xs:element name="surrogate">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="b:surrogateType">
          <xs:attribute name="url" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="copies" type="xs:positiveInteger"/>
  <xs:element name="sequence" type="xs:positiveInteger"/>

  <!-- advertising and reviews -->
  <xs:element name="publication" type="xs:string"/>

  <xs:element name="pubDate">
    <xs:simpleType>
      <xs:union memberTypes="xs:date xs:gYear xs:gYearMonth"/>
    </xs:simpleType>
  </xs:element>

  <xs:element name="pubYear" type="xs:gYear"/>

  <xs:element name="categoryID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[a-c]"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="workID">
    <xs:simpleType>
      <xs:restriction base="xs:integer"/>
    </xs:simpleType>
  </xs:element>

  <xs:element name="subWorkID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[1-6]"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <!-- elements using QFT -->
  <xs:element name="titlePart" type="b:qft"/>
  <xs:element name="contentPart" type="b:qft"/>
  <xs:element name="RTPart" type="b:qft"/>
  <xs:element name="cwFoot" type="b:qft"/>
  <xs:element name="cwHead" type="b:qft"/>

  <xs:attribute name="url" type="xs:string"/>

  <xs:element name="textLang" default="en">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="de"/>
        <xs:enumeration value="en"/>
        <xs:enumeration value="fr"/>
        <xs:enumeration value="pt"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:attribute name="rend" default="roman">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="blackletter"/>
        <xs:enumeration value="break"/>
        <xs:enumeration value="italic"/>
        <xs:enumeration value="italicred"/>
        <xs:enumeration value="italsmallcap"/>
        <xs:enumeration value="paragraph"/>
        <xs:enumeration value="red"/>
        <xs:enumeration value="roman"/>
        <xs:enumeration value="smallcap"/>
        <xs:enumeration value="smallcapred"/>
        <xs:enumeration value="super"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>


  <xs:element name="respGroup">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute ref="b:seq" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:attribute name="respType">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="author"/>
        <xs:enumeration value="distributor"/>
        <xs:enumeration value="dedicatee"/>
        <xs:enumeration value="editor"/>
        <xs:enumeration value="publisher"/>
        <xs:enumeration value="printer"/>
        <xs:enumeration value="translator"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>

  <xs:simpleType name="surrogateType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Early American Imprints"/>
      <xs:enumeration value="ECCO"/>
      <xs:enumeration value="Evans"/>
      <xs:enumeration value="Google"/>
      <xs:enumeration value="Internet Archive"/>
      <xs:enumeration value="John Johnson Collection"/>
      <xs:enumeration value="Shaw"/>
      <xs:enumeration value="Stiftung Tierärztlichen Hochschule"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:attribute name="titleType" default="title">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="cancelandum"/>
        <xs:enumeration value="halfTitle"/>
        <xs:enumeration value="section"/>
        <xs:enumeration value="title"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>

  <xs:attribute name="periodicalType">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="advertisement"/>
        <xs:enumeration value="review"/>
        <xs:enumeration value="notice"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>

  <xs:element name="todo" type="xs:string"/>
  <xs:element name="comment" type="xs:string"/>
  <xs:element name="fn" type="xs:string"/>
  <xs:element name="home" type="xs:string" default="../index.xml"/>

  <xs:attribute name="isSeen" type="xs:boolean"/>
  <xs:attribute name="isCollection" type="xs:boolean"/>
  <xs:attribute name="id" type="xs:ID"/>
  <xs:attribute name="sectionID" type="xs:string"/>
  <xs:attribute name="seq" type="xs:positiveInteger"/>

  <xs:complexType name="qft">
    <xs:simpleContent>
      <xs:extension base="xs:normalizedString">
        <xs:attribute ref="b:rend" default="roman"/>
        <xs:attribute ref="b:url" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>
